.slogan {
  color: #fdd956;
  font-family: 'PF Scandal Pro', sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;

  @include r(991) {
    font-size: rem(36);
    line-height: rem(42);
  }

  @include r(575) {
    font-size: rem(20);
    line-height: rem(24);
  }
}