.title {
  margin-top: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  color: #1E1E1E;

  @include r(575) {
    font-size: rem(24);
    line-height: rem(29);
  }

  &--small {
    margin-bottom: rem(50);
    font-size: rem(40);
  }
}