.graph {
  display: flex;
  width: 100%;
  max-width: rem(918);
  column-gap: rem(49);
  margin: 0 auto;

  @include r(991) {
    column-gap: rem(20);
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: flex;
      width: 100%;
      height: 100%;
      background-image: url('../assets/images/graph-bg.png');
      background-repeat: no-repeat;
      background-position: center top;
      z-index: 0;

      @include r(575) {
        height: 81%;
        background-size: contain;
      }
      @include r(529) {
        height: 81%;
        background-size: cover;
      }
    }
  }

  &__nums {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -11px;
    margin-bottom: 0;
    row-gap: 23px;

    @include r(575) {
      margin-top: -5px;
      row-gap: 10.5%;
    }
  }

  &__num {
    font-size: rem(24);
    line-height: rem(29);
    margin: 0 !important;
    padding: 0 !important;
    color: #562E95;

    @include r(768) {
      font-size: rem(16);
    }

    @include r(575) {
      font-size: rem(9);
      line-height: rem(10);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: rem(27);
    z-index: 1;

    @include r(768) {
      row-gap: rem(10);
    }
  }

  &__post {
    display: flex;
    align-items: flex-end;
    width: rem(16);
    height: rem(267);
    background: #EEEDF0;
    border-radius: rem(69);
    overflow: hidden;

    @include r(575) {
      width: rem(5.5);
      height: rem(150);
    }
  }

  &__fill {
    width: 100%;
    height: 40%;
    background-color: #562E95;
    border-radius: rem(69);
  }

  &__month {
    margin: 0;
    font-weight: 400;
    font-size: rem(24);
    line-height: rem(29);
    color: #F2C94C;

    @include r(768) {
      font-size: rem(14);
    }

    @include r(575) {
      font-size: rem(9);
    }
  }
}